body {
  background-color: grey;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.container {
  display: flex;
  align-items: flex-start;
  .front-page-image{
    background: image-url("birds.jpg")no-repeat;
    background-size: cover;
    position: relative;
  }

  h1 {
    font-size: 60px;
    margin-left: 2rem;
    margin-top: 0.5rem;
  }

  .screen-by-two {
    width: 50vw;
    height: 100vh;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.navigation-button {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background-color: black;
  border: none;
    a {
    text-decoration: none;
    color: white;
  }
  :hover {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 2px;
  }
}


.link-image {
  position: absolute;
  display: inline-block;
  background-color: transparent;
  border: none;
}

.linkedin {
  max-width: 60px;
  top: 77vh;
  left: 30vw;
}

.github {
  max-width: 83px;
  top: 79vh;
  left: 8vw;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 50px;
}

.my-bio {
  text-align: justify;
  font-size: 30px;
  line-height: 60px;
}
