body {
  // background-color: #484848;
  color: #ececec;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.container {
  display: flex;
  align-items: flex-start;
  position: relative;
  .screen-by-two {
    height: 100vh;
    width: 50vw;
  .background-image{
    height: 100%;
    width: 100%;
  }
  }

.hi {
  position: absolute;
  top: 10vh;
  left: 30vw;
  font-size: 30px;
  color: #eaeaea;
}

  .screen-by-two {
    width: 50vw;
    height: 100vh;
    background-color: #eaeaea;
  }
}

.navigation-button {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
    a {
    text-decoration: none;
    font-size: 15px;
    color: white;
  }
  &:hover {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    a {
      color: black;
      padding-left: 2px;
      padding-right: 2px;
    }
  }
}

.projects-button {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
    a {
      font-size: 25px;
      text-decoration: none;
      color: black;
      background: none;
    }

  &:hover {
    border-color: #7b7979;
    a {
      color: #7b7979;
    }
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.link-image {
  background-color: transparent;
  border: none;
  img {
    width: 100%;
    height: 100%;
  }
}

.linkedin {
  max-width: 60px;
  // top: 12vh;
  // left: 59vw;
}

.github {
  max-width: 84px;
  // top: 10vh;
  // left: 87vw;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 50px;
  box-sizing: border-box;
}

.my-bio {
  font-size: 20px;
  line-height: 60px;
  color: #4a4a4a;
  line-height: 50px;
  bottom: 90vh;
  margin: 2rem;
  margin-top: 0px;
}

.junior {
  margin-bottom: 0px;
  color: black;
  font-size: 25px;
  text-align: center;
}

//----------------------------- my projects page: ---------------------------------------------

.projects-container {
  height: 100vh;
  width: 100vw;
  background-color: #bbbbbb;
  display: flex;
  flex-direction: column;
  color: #403f3f;
}

.projects {
  display: flex;
  height: 100%;
}

.project {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-width: 200px;
    bottom: 15vh;
  }
}

.project-contents {
display: flex;
width: 100%;
max-width: 80%;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  flex-direction: row;
  justify-content: center;
  display: flex;
  margin: 0;
  padding: 2rem;
}

h3 {
  margin: 30px;
  max-width: 450px;
}

@media only screen and (max-device-width: 480px) {
  .container {
    flex-direction: column;
    .screen-by-two {
      width: 100vw;
      .my-bio {
        line-height: 1.1;
        margin: 0;
        padding: 1rem;
      }
    }
    .center-content {
      padding: 1rem;
    }
  }
}

@media only screen and (max-device-width: 480px) {
  .projects-container {
    flex-direction: column;
    height: auto;
    width: auto;
    .projects {
      flex-direction: column;
    }
    .project {
      height: 100vh;
    }
    .project-contents {
      max-width: initial;
      flex-direction: column;
    }
    h1 {
      display: none;
    }
    img {
      max-width: 60%;
      margin-top: 5px;
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .center {
      width: 100vw;
    }
  }
}
