<div class="container">
  <button class="navigation-button">
    <%= link_to "BACK", 'index.html' %>
  </button>

</div>



<!-- <div class="projects"> -->
  <!-- <div class="project"> -->
<!-- <img src="images/phone_plus_u.png" alt="Capture of the website."> -->
<!-- <button class="project-button">
  <%= link_to "Visit this website", 'https://www.plus-u.best/' %>
</button>
</div>
<div class="project">
<!-- <img src="images/phone_dogs.png" alt="Capture of the website."> -->
<!-- <button class="project-button">
  <%= link_to "Visit this website", 'https://airbnb-saioaau.herokuapp.com/' %> %>
</button> --> -->
