<div class="container">
  <div class="screen-by-two">
    <img class="background-image" src="images/birds.jpg" alt="Birds in a wire.">
    <div class="hi">
      <h1>
        Hi, I am
      <br/>
        Saioa.
      </h1>
    </div>
  </div>
  <div class="screen-by-two center-content">
    <div class="buttons">
      <button class="link-image github">
        <a href="https://github.com/SaioaAU" target="_blank"><img src="images/github.png"  alt="Github logo" /></a>
      </button>
      <button class="projects-button">
        <%= link_to "MY PROJECTS", 'myprojects.html' %>
      </button>
      <button class="link-image linkedin">
        <a href="https://www.linkedin.com/in/saioa-arostegui-a2508010b/" target="_blank"><img src="images/linkedin.com.png"  alt="Linkedin logo" /></a>
      </button>
    </div>
    <div class="junior">
      <h2>Junior programmer.</h2>
    </div>
    <div class="my-bio" >
      I have completed a programming bootcamp learning Ruby on Rails, CSS, HTML, Javascript, SQL, etc. I truly enjoy the challenges that coding brings me and continue to code daily. I would love to hear about an intern position as a junior programmer at <strong>saioarostegi@gmail.com</strong>.
    </div>
  </div>
</div>
