

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My portfolio</title>
  </head>
  <body>
    <div class="container">
      <button class="navigation-button">
        <%= link_to "ABOUT", 'about.html' %>
      </button>
      <div class="screen-by-two">
        <img class="background-image" src="images/birds.jpg" alt="Birds in a wire.">
        <h1>
          Hi, I am
          <br/>
          Saioa.
        </h1>
        <button class="link-image github">
          <a href="https://github.com/SaioaAU" target="_blank"><img src="images/github.png"  alt="Github logo" /></a>
        </button>
        <button class="link-image linkedin">
          <a href="https://www.linkedin.com/in/saioa-arostegui-a2508010b/" target="_blank"><img src="images/linkedin.com.png"  alt="Linkedin logo" /></a>
        </button>
      </div>
      <div class="screen-by-two center-content">
        <span class="my-bio" >
          I have 10 years of experience in health care. In 2019 I stumbled upon programming and realised how much I enjoy it. March 2020, I followed this passion and completed Le Wagon bootcamp, a 9-weeks intensive course in full stack programming. I would love to make use of my programming skills in the health industry, due to my background and interest in the health sector.
        </span>
      </div>
    </div>
  </body>
</html>
