
  <div class="projects-container">
    <div class="">
      <button class="navigation-button">
        <%= link_to "BACK", 'index.html' %>
      </button>
      <h1>Projects during the bootcamp..</h1>
    </div>
    <div class="projects">
      <div class="project">
        <div class="project-contents">
            <a href="https://www.plus-u.best" target="_blank">
              <img src="images/phone_plus_u.png" alt="Plus u project.">
            </a>
          <div class="center">
            <button class="link-image github">
              <a href="https://github.com/eivomt/loner_app" target="_blank">
                <img src="images/github.png"  alt="Github logo" />
              </a>
            </button>
            <h3>This is an events app to try to help elders who need company or youngsters who need someone to hang out with. <br> This app was created in two weeks and it helped me to learn the process from start to finish.</h3>
          </div>
        </div>
      </div>
      <div class="project">
        <div class="project-contents">
          <a href="https://airbnb-saioaau.herokuapp.com/" target="_blank"><img src="images/phone-dogs.png" alt="airbnb clone project.">
          <div class="center">
            <button class="link-image github">
              <a href="https://github.com/SaioaAU/rbnb" target="_blank"><img src="images/github.png"  alt="Github logo" /></a>
            </button>
            <h3>This is clone of airbnb where you can rent dogs. <br> The purpose of this exercise was to learn to work in teams and under pressure.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
