<div class="container">
  <button class="navigation-button">
    <%= link_to "BACK", 'index.html' %>
  </button>
  <h1>Both projects made during the programming course.</h1>
  <div class="left">
    <img src="images/phone_plus_u.png" alt="Plus u project.">
    <button class="link-image github">
      <a href="https://plus-u.best" target="_blank"><img src="images/github.png"  alt="Github logo" /></a>
    </button>
  </div>
  <div class="right">
    <img src="images/phone-dogs.png" alt="airbnb clone project.">
    <button class="link-image github">
      <a href="https://airbnb-saioaau.herokuapp.com/" target="_blank"><img src="images/github.png"  alt="Github logo" /></a>
    </button>
  </div>
</div>
