<div class="container">
  <button class="navigation-button">
    <%= link_to "BACK", 'index.html' %>
  </button>
  <div class="left">
    <img src="images/phone_plus_u.png" alt="Plus u project.">
  </div>
  <div class="right">
    <img src="images/phone-dogs.png" alt="airbnb clone project.">
  </div>

</div>
